// Page 13 - Residences
.page-id-11
  .main-content
    .body-content
      &#body-content
        padding-bottom 0

      .panel-grid
        .two-col
          .panel-grid-cell
            .widget_sow-image
              padding 0 70px 40px

            .widget_sow-image
                .vertical
                 .so-widget-sow-image
                  max-height 660px

// Page 13 - Views
.page-id-13
  .main-content
    .first-content
      .content-wrapper
        position relative
        max-width initial
        width 100%
        max-width 100%
        display inline-block
        height auto
        width 100%
        height 100vh
        margin -60px auto

        .views-position
          position absolute
          top 50%
          transform translateY(-50%) translateX(-50%)
          max-width 780px
          left 50%

          h1.page-header
            font-size 2.5em

          p.subheader
            font-family 'Goldenbook', serif
            font-size 1.3em

          button.module-trigger
            margin auto
            display block

//  Page 16 - amenities
.page-id-16
  .body-content
    .two-col
      .panel-grid-cell
        &:first-of-type
          padding-right 75px
          padding-right 3vw

        &:last-of-type
          padding-left 75px
          padding-left 3vw

        .widget_text
          .widget-title,
          .textwidget
            padding 0 !important

  .other-amenities
    padding 0 100px
    .panel-grid-cell
      .panel-grid
        padding-top 40px

        &:not(:first-of-type)
          padding-bottom 40px

        .panel-grid-cell
          h1
            margin 45px 0 20px

        &:not(:first-of-type),
        &:not(:first-of-type) .textwidget
          text-align center !important

        &:not(:first-of-type)
          .panel-grid-cell
            .widget_text
              padding 0

//  Page 20 - backyard
//  Page 22 - vision
//  Page 24 - contact
.page-id-24
  .main-content
    width 100%
    padding-left 400px
    box-sizing border-box
