@font-face {
    font-family: "sans";
    src: url("../fonts/CircularStd/CircularStd-Book.otf") format(opentype);
}

@font-face {
    font-family: "serif";
    src: url("../fonts/Goldenbook/GoldenbookLight.otf") format(opentype);
    font-weight: 400;
}